<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ValIets Webinterface</title>

        <link rel="stylesheet" href="../node_modules/foundation-sites/dist/css/foundation.min.css" />
        <link rel="stylesheet" href="vendor/font-awesome/css/fa-regular.css" />
        <link rel="stylesheet" href="vendor/font-awesome/css/fa-solid.css" />
        <link rel="stylesheet" href="vendor/font-awesome/css/fontawesome.css" />
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <div id="app">
            <div class="grid-container">
                <div class="grid-x grid-padding-x grid-padding-y">
                    <div class="large-8 cell">
                        <h2>Valdetectie Status</h2>

                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Bewoner</th>
                                <th>Locatie</th>
                                <th>Status</th>
                                <th>Snelactie</th>
                            </tr>
                            <tr>
                                <td>#923842</td>
                                <td>
                                    <a href="#">Arie Jansen</a>
                                </td>
                                <td></td>
                                <td>
                                    <i class="far fa-circle fa-xs" style="color:limegreen;"></i>
                                    In orde
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>#783223</td>
                                <td>
                                    <a href="#">Bert Hendriks</a>
                                </td>
                                <td></td>
                                <td>
                                    <i class="fa fa-circle fa-xs" style="color:orange;"></i>
                                    Batterij laag
                                </td>
                                <td>
                                    <a href="#" class="button small no-margin">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>#283943</td>
                                <td>
                                    <a href="#">Celine Pepers</a>
                                </td>
                                <td></td>
                                <td>
                                    <i class="far fa-circle fa-xs" style="color:limegreen;"></i>
                                    In orde
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>#782334</td>
                                <td>
                                    <a href="#">Dirk de Haan</a>
                                </td>
                                <td></td>
                                <td>
                                    <i class="far fa-circle fa-xs" style="color:limegreen;"></i>
                                    In orde
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>#238942</td>
                                <td>
                                    <a href="#">Evert Klein</a>
                                </td>
                                <td>
                                    J74.B (invalidetoilet)
                                </td>
                                <td>
                                    <i class="fa fa-circle fa-xs" style="color:red;"></i>
                                    Mogelijk gevallen
                                </td>
                                <td>
                                    <a href="#" class="button small no-margin">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>#238905</td>
                                <td>
                                    <a href="#">Vanessa van Vliet</a>
                                </td>
                                <td></td>
                                <td>
                                    <i class="far fa-circle fa-xs" style="color:limegreen;"></i>
                                    In orde
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/foundation-sites/dist/js/foundation.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
